.arrowDown {
    position: fixed;
    padding: 4px;
    top: 90vh;
    left: 0.7em;
    z-index: 600;
}
.arrowDown:hover {
    margin-top: -15px;
}
.arrowDown {
    animation: upDown linear 1s infinite;
    -webkit-animation: upDown linear 1s infinite;
    -moz-animation: upDown linear 1s infinite;
    -o-animation: upDown linear 1s infinite;
    -ms-animation: upDown linear 1s infinite;
}

@keyframes upDown {
    0% {margin-top: 0px}
    50% {margin-top: 8px}
    100% {margin-top: 0px}
}

@-moz-keyframes upDown {
    0% {margin-top: 0px}
    50% {margin-top: 8px}
    100% {margin-top: 0px}
}

@-webkit-keyframes upDown {
    0% {margin-top: 0px}
    50% {margin-top: 8px}
    100% {margin-top: 0px}
}

@-o-keyframes upDown {
    0% {margin-top: 0px}
    50% {margin-top: 8px}
    100% {margin-top: 0px}
}

@-ms-keyframes upDown {
    0% {margin-top: 0px}
    50% {margin-top: 8px}
    100% {margin-top: 0px}
}
@media (min-width: 100px) and (max-width: 640px) {
    .arrowDown {
        top: 86vh;
        left: 0.7em;
    }
}
